.amnezia-filter
{
    opacity:1;
    background:white;
    cursor: pointer;
    border:0.5px solid var(--border-clr);
    width:45px;
    height:auto;
    padding:3px;
    transition:all 0.2s;
}

.amnezia-filter-active
{
    border:0.5px solid var(--primary-clr-200);
    box-shadow: var(--primary-clr-100) 0px 0px 6px -1px;
    opacity:1;
    background:white;
    cursor: pointer;
    width:45px;
    height:auto;
    padding:3px;
    transition:all 0.2s;
}

.amnezia-filter-container
{
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-direction:row;
    height:100%;
}