.button {
    background-color: var(--background-color);
    color: var(--color, #fff);
    padding: 0.44rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    font-family: InterMedium;
    transition: background-color 0.1s ease-in-out;
    border: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: var(--background-color-hover);
}

.button:active {
    background-color: var(--background-color-active);
}

.primary {
    --background-color: var(--primary-clr-200);
    --background-color-hover: var(--primary-clr-300);
    --background-color-active: var(--primary-clr-400)
}

.outlined {
    --background-color: transparent;
    --border-color: var(--gray-clr-200);
    --color: var(--dark-clr-200);
    --background-color-hover: var(--gray-clr-100);
    --background-color-active: var(--gray-clr-200)
}

.ghosted {
    --background-color: transparent;
    --border-color: transparent;
    --color: var(--dark-clr-200);
    --background-color-hover: var(--gray-clr-200);
    --background-color-active: var(--gray-clr-300);
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.active {
    --background-color: var(--gray-clr-100);
    --background-color-hover: var(--gray-clr-200);
}

.button:has(svg) {
    padding: 0.4rem 0.5rem;
}

.pagination-left-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    display: inline-flex;
    height: 32px;
}

.pagination-right-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-flex;
    height: 32px;
}

.pagination-btn {
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 0;
    border-right: 0;
    padding: 0 0.75rem;
    height: 32px;
}

.wide_btn
{
    width:50%;
}