.modal__background {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.16);
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.modal__content {
    position: absolute;
    inset: 140px;
    padding: 10px;
    background-color: #ffffff;
    z-index: 1000;
}