.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.16);
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.modal__background {
    height: 100vh;
    width: 100vw;
    overscroll-behavior-y: none;
}

.modal__content-container {
    display: flex;
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    padding: 4rem 0;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal__content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto 1rem;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 1.5rem;
    z-index: 1000;
}

.modal__header {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.modal__title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #1a202c;
}

.modal__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    gap: 0.5rem;
}

.modal__footer svg {
    width: 22px;
    height: 22px;
}

.close-icon {
    height: 30px;
    width: 25px;
    align-self: self-start;
    margin-left: auto;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.close-icon:hover {
    background-color: var(--gray-clr-200);
}

.overflow-hidden {
    overflow: hidden;
}