.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Inter";
    font-weight: 600;
}

.pagination-left-btn svg,
.pagination-right-btn svg {
    width: 15px;
}