.timer-bar {
    width: 100%;
    height: 6px;
    background-color: #e2e8f0;
    border-radius: 50px;
    margin: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
}

.timer-bar__filler {
    animation-duration: --duration;

    height: 6px;
    border-radius: 50px;
    background-color: #396fe4;

    animation: timer calc(var(--duration) * 1s) linear forwards;
    transform-origin: left center;
}

@keyframes timer {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}