.wrapper {
    border-radius: 8px;
    border: 1px solid #d2d2d4;
}

.users-table {
    min-width: 100%;
    text-align: left;
    border-style: hidden;
    border-collapse: collapse;
    border-spacing: 0;
}

.users-table__header th {
    background-color: #f9fafb;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    color: #4a5568;
}

.users-table__header .first {
    border-top-left-radius: 8px;
}

.users-table__header .last {
    border-top-right-radius: 8px;
}

.users-table__body td {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: #1a202c;
    border-top: 1px solid #d2d2d4;
}

.users-table__body tr {
    height: 70px;
    transition: all 0.3s ease;
}

.users-table__body tr:hover {
    cursor: pointer;
}

.users-table__body .active,
.accordion__active {
    background-color: #c6f6d5;
    color: #22543d;
    padding: 0.25rem 0.75rem;
    border-radius: 99999px;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: capitalize;
}

.users-table__body .active:before,
.accordion__active::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    margin-top: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='-2 -5 27 27' stroke-width='1.5' stroke='%2322543d' aria-hidden='true' class='css-14p7jiq'><path stroke-linecap='round' stroke-linejoin='round' d='M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z'></path></svg>");
}

.users-table__body .expired,
.accordion__expired {
    background-color: #feebc8;
    color: #7b341e;
    padding: 0.25rem 0.75rem;
    border-radius: 99999px;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: capitalize;
}

.users-table__body .expired:before,
.accordion__expired::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    margin-top: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='-1 -5 27 27' stroke-width='1.5' stroke='%237b341e' aria-hidden='true' class='css-14p7jiq'><path stroke-linecap='round' stroke-linejoin='round' d='M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z'></path></svg>");
}

.users-table__body .limited,
.accordion__limited {
    background-color: #fed7d7;
    color: #822727;
    padding: 0.25rem 0.75rem;
    border-radius: 99999px;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: capitalize;
}

.users-table__body .limited:before,
.accordion__limited::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='-1 -5 27 27' stroke-width='1.5' stroke='%23822727' aria-hidden='true' class='css-14p7jiq'><path stroke-linecap='round' stroke-linejoin='round' d='M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z'></path></svg>");
}

.accordion__active,
.accordion__expired,
.accordion__limited {
    font-size: 0.7rem;
}

.users-table__body .expire-time,
.accordion__expire-time {
    margin-left: 10px;
    font-size: 12px;
    color: #4a5568;
    font-family: InterMedium;
}

.users-table__subscription-actions .chevron-icon {
    display: none;
}

@media (max-width: 900px) {
    .users-table__body .expire-time {
        display: block;
        margin-top: 7px;
        margin-left: 0;
    }
}

@media (max-width: 690px) {
    .users-table__body .expire-time {
        display: none;
    }

    .users-table__body .active,
    .users-table__body .limited,
    .users-table__body .expired {
        text-indent: -9999px;
        display: inline-block;
    }

    .users-table__body .active:before,
    .users-table__body .limited:before,
    .users-table__body .expired:before {
        float: left;
        text-indent: 0;
        margin: 0;
    }

    .users-table__subscription-actions .subscription-actions {
        display: none;
    }

    .users-table__subscription-actions .chevron-icon {
        display: flex;
        justify-content: flex-end;
    }

    .users-table__progress-bar .progress-bar {
        display: none;
    }

    .users-table__progress-bar .progress-bar__text .progress-bar__text__total-data {
        display: none;
    }
}