.footer {
    padding-top: 1rem;
    gap: 1rem;
}

@media (max-width: 470px) {
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }

    .primaryButtons,
    .primaryButtons>* {
        width: 100%;
    }
}

/*  */

.modal__body {
    display: flex;
    gap: 0.75rem;
}

.modal__form>*+* {
    margin-top: 0.625rem;
}

.modal__form,
.protocols-section {
    width: 100%;
}

.protocols {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.protocols-section>h4 {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-family: InterMedium;
    font-weight: 400;
    width: 100%;
}

.protocols {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.protocol {
    display: flex;
    justify-content: space-between;
    padding: .5em .75em;
    font-family: InterMedium;
    font-weight: 400;
    border: 1px solid var(--border-clr);
    border-radius: var(--border-radius-md);
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.protocol.selected {
    background-color: #f7fafc;
    border-color: transparent;
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--primary-clr-100);
}

.protocol.disabled {
    cursor: not-allowed;
    background-color: var(--gray-clr-100);
    opacity: .4;
}

.protocol button {
    color: var(--primary-clr-100);
}

.protocol__name {
    text-transform: capitalize;
    font-size: 0.875rem;
    color: #2d3748;
    font-weight: 400;
}

.protocol__description {
    font-size: 0.75rem;
    color: var(--dark-clr-100);
}

.style_exception1 {
    color: black;
}

@media (max-width: 740px) {
    .modal__body {
        flex-direction: column;
        gap: 1.5rem;
    }
}