.wrapper {
    border-radius: 8px;
    border: 1px solid #d2d2d4;
}

.panels-table {
    min-width: 100%;
    text-align: left;
    border-style: hidden;
    border-collapse: collapse;
    border-spacing: 0;
}

.panels-table__header th {
    background-color: #f9fafb;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    color: #4a5568;
}

.panels-table__header th:last-of-type {
    width: 0;
}

.panels-table__body td {
    padding: .875rem 1.5rem;
    font-size: 1rem;
    color: #1a202c;
    border-top: 1px solid #d2d2d4;
}

.panels-table__body tr {
    transition: all 0.3s ease;
    cursor: pointer;
}

.panels-table__body tr:hover {
    background-color: var(--gray-clr-200);
}

.status {
    display: inline-flex;
    padding: 0.25rem 0.75rem;
    border-radius: 99999px;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--background-clr);
    color: var(--color);
}

.status:before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    margin-top: 0;
}

.status.active {
    --background-clr: #c6f6d5;
    --color: #22543d;
}

.status.active:before {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='-2 -5 27 27' stroke-width='1.5' stroke='%2322543d' aria-hidden='true' class='css-14p7jiq'><path stroke-linecap='round' stroke-linejoin='round' d='M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z'></path></svg>");
}

.status.expired {
    --background-clr: #feebc8;
    --color: #7b341e;
}

.status.expired:before {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='-1 -5 27 27' stroke-width='1.5' stroke='%237b341e' aria-hidden='true' class='css-14p7jiq'><path stroke-linecap='round' stroke-linejoin='round' d='M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z'></path></svg>");
}

.status.limited {
    --background-clr: #fed7d7;
    --color: #822727;
}

.status.limited:before {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='-1 -5 27 27' stroke-width='1.5' stroke='%23822727' aria-hidden='true' class='css-14p7jiq'><path stroke-linecap='round' stroke-linejoin='round' d='M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z'></path></svg>");
}

.panels-table__body .expire-time {
    margin-left: 10px;
    font-size: 12px;
    color: #4a5568;
    font-family: InterMedium;
}

.panels-table th:last-of-type,
.panels-table td:last-of-type {
    padding-right: 3rem;
    padding-left: 0;
}

@media (max-width: 900px) {
    .panels-table__body .expire-time {
        display: block;
        margin-top: 7px;
        margin-left: 0;
    }
}

@media (max-width: 690px) {
    .panels-table__body .expire-time {
        display: none;
    }

    .status {
        text-indent: -9999px;
        display: inline-block;
    }

    .status:before {
        float: left;
        text-indent: 0;
        margin: 0;
    }

    .panels-table__body td:last-of-type {
        padding-left: 0;
    }
}

.table__actions {
    display: flex;
    justify-content: center;
}

.panelUrl
{
    font-size:12px;
}