.login {
    /* 1.5rem is the padding for the body padding*/
    min-height: calc(100vh - 2 * 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login>svg {
    width: 50px;
    margin-bottom: 10px;
}

.login__title {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--dark-clr-200);
}

.login__subtitle {
    margin: 0.75rem 0 2rem;
    font-size: 1rem;
    color: var(--dark-clr-100);
    font-weight: 300;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__form>* {
    width: 300px;
    height: 40px;
    font-size: 1rem;
    padding: 0 1rem;
}

.login__form>*+* {
    margin-top: 1rem;
}

.login__form input {
    border: 1px solid var(--border-clr);
    border-radius: 0.375rem;
}

.login__form input:focus {
    border: 1px solid var(--primary-clr-200);
}

.login__btn {
    font-family: Inter;
    font-weight: 600;
    transition: all 0.2s;
}

.login__btn svg {
    width: 20px;
    height: 20px;
    stroke-width: 2px;
    margin-right: 5px;
    stroke: white;
}

.login__btn.spin svg {
    animation: spin 1.25s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}