.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login>svg {
    width: 50px;
    margin-bottom: 10px;
}

.login .login__btn svg {
    width: 30px;
    height: 30px;
}

.login .login_title_1 {
    font-size: 25px;
    font-weight: 900;
}

.login .login_title_2 {
    margin-top: 20px;
}

.login_title_2 {
    margin-bottom: 25px;
}

.login .username,
.login .password {
    border: 1px solid #cbd5e0;
    height: 40px;
    border-radius: 0.375rem;
    padding: 16px;
    margin-top: 15px;
    width: 300px;
    font-size: 16px;
}

.login .username:focus,
.login .password:focus {
    border: 1px solid var(--primary-clr-200);
}

.login .login__btn {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 15px;
}

.login .login__btn svg {
    margin-right: 5px;
}