:root {
    --primary-clr-100: #749aec;
    --primary-clr-200: #396fe4;
    --primary-clr-300: #3364cd;
    --primary-clr-400: #2e59b6;

    --gray-clr-100: #edf2f7;
    --gray-clr-200: #e2e8f0;
    --gray-clr-300: #cbd5e0;

    --dark-clr-100: #4a5568;
    --dark-clr-200: #1a202c;

    --border-clr: #e2e8f0;
    --border-clr-hover: #cbd5e0;

    --border-radius-md: 0.375rem;
    --border-radius-lg: 0.8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-clr-200);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-clr-300);
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--gray-clr-200) transparent;
    }
}

@font-face {
    font-family: Inter;
    src: url('../src/assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: InterMedium;
    src: url('../src/assets/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: Vazir;
    src: url('../src/assets/fonts/vazir.ttf');
}

button,
input {
    font-family: inherit;
    border: none;
    outline: none;
    font-weight: inherit;
    border-radius: var(--border-radius-lg);
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

input:disabled {
    cursor: not-allowed;
    background-color: var(--gray-clr-100);
}

button {
    cursor: pointer;
}

body {
    font-family: Inter;
    padding: 1.5rem;
}

body > iframe
{
    display:none !important;
}

.css-1sy2mon-MuiSwitch-root,
.css-j204z7-MuiFormControlLabel-root {
    margin: 0 !important;
}

.MuiOutlinedInput-notchedOutline {
    border: 0.8px solid var(--border-clr) !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Utility classes */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.itmes-end {
    align-items: end;
}

.itmes-start {
    align-items: start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.align-self-end {
    align-self: flex-end;
}

.gap-1 {
    gap: .25rem;
}

.gap-1\.5 {
    gap: .375rem;
}

.gap-2 {
    gap: .75rem;
}

.gap-2\.5 {
    gap: .875rem;
}

.gap-3 {
    gap: 1rem;
}

.w-full {
    width: 100%;
}

.blur-1 {
    filter: blur(1px)
}

.top-full {
    top: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.z-999 {
    z-index: 999;
}

.bg-white {
    background-color: #fff;
}

/* animations */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spin 1s linear infinite;
}

.payment_cards
{
    border: 1px solid var(--border-clr);
    border-radius: 6px;
    padding: .5rem;
    width: 49%;
    cursor: pointer;
}

.payment_cards_selected
{
    border: 1px solid var(--primary-clr-100);
    background: #749aec14;
}

.payment_cards_disabled
{
    background: #749aec14;
    filter:grayscale(1);
}

.agent_group_action_btns
{
    gap:10px;
}

.agent_group_action_btns
{
    margin-bottom:10px;
}

.buy_volume_section
{
    position:absolute;
    top:-5px;
    right:-5px;
    cursor: pointer;
}

.buy_volume_section img
{
    border-bottom-left-radius: 100%;
    opacity:1;
}

.usage-stats__item
{
    position:relative;
    overflow:hidden;
}

.inbound_tag
{
    font-size:11px;
}

.striked_text
{
    text-decoration: line-through;
    /* color: var(--gray-clr-300); */
}

@media (max-width: 550px) 
{
    .payment_cards
    {
        width:100%;
        justify-content:flex-start;
    }
    
}

@media (max-width: 470px) 
{
    .agent_group_action_btns button
    {
        margin-top:5px;
        margin-bottom:5px;
    }

    .agent_group_action_btns
    {
        margin-bottom:0;
        gap:0;
    }
}