* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url('../public/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: InterMedium;
    src: url('../public/fonts/Inter-Medium.ttf');
}

button,
input {
    font-family: inherit;
    border: none;
}

body {
    padding: 1.5rem;
    font-family: Inter;
}