:root {
    --primary-clr-100: #749aec;
    --primary-clr-200: #396fe4;
    --primary-clr-300: #3364cd;

    --gray-clr-100: #edf2f7;
    --gray-clr-200: #e2e8f0;

    --dark-clr-200: #1a202c;

    --border-clr: #d2d2d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: Inter;
    src: url('../public/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: InterMedium;
    src: url('../public/fonts/Inter-Medium.ttf');
}

button,
input {
    font-family: inherit;
    border: none;
    outline: none;
    font-weight: inherit;
}

button {
    cursor: pointer;
}

body {
    font-family: Inter;
}