.admin-log-page__filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
    margin-bottom: 1.5rem;
}


.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-sizeSmall {
    height: 56px;
    border-radius: 6px;
    outline: none;
}

.logs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.log {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-clr);
    border-radius: var(--border-radius-md);
    background-color: #F9FAFB;
    padding: 1rem;
    gap: .5rem;
}

.log__text {
    font-family: InterMedium;
    color: var(--dark-clr-300);
}

.log__date {
    font-size: 0.875rem;
    font-family: Inter;
    color: var(--dark-clr-100);
}

.admin-log-page__filter .MuiInputBase-root {
    width: 100%;
}

.admin-log-page__filter .MuiFormControl-root {
    width: 100%;
}

/* @media (max-width: 768px) {
    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-sizeSmall {
        width: 100%;
    }

    .admin-log-page__filter {
        flex-wrap:wrap;
    }
} */

.exit-account {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-size: 20px;
    cursor: pointer;
    background-color: #F9FAFB;
    border: 1px solid #d2d2d4;
    padding: 5px;
    border-radius: 0.875rem;
    transition: all 0.2s;
}

.exit-account:hover {
    background-color: #ededee;
}

.exit-account img {
    opacity: 1;
    background: transparent;
    width: 40px;
    height: 40px;
}

.loading_gif {
    width: 100px;
    height: 100px;
    background: transparent;
    opacity: 1;
}

.loading_gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.log_buttons_div
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    align-content:center;
    flex-direction:row;
    width:100%;
}