.admin-log-page__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}


.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-sizeSmall {
    height: 45px;
    border-radius: 6px;
    outline: none;
}

.logs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.log {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-clr);
    border-radius: var(--border-radius-md);
    background-color: #F9FAFB;
    padding: 1rem;
}

.log__text {
    display: flex;
    font-family: InterMedium;
    justify-content: space-between;
    width: 100%;
    color: var(--dark-clr-300);

    text-size-adjust: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: max-height .5s ease-in-out;
}

.log__date {
    font-size: 0.875rem;
    font-family: Inter;
    color: var(--dark-clr-100);
}

.log__text .chevron-icon svg {
    width: 1rem;
    height: 1rem;
    fill: var(--dark-clr-100);
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.log__text.expanded .chevron-icon svg {
    transform: rotate(180deg);

}

@media (max-width: 768px) {
    .admin-log-page__filter .search-wrapper {
        width: 100%;
    }

    .admin-log-page__filter {
        flex-direction: column;
        align-items: stretch;
    }
}

.exit-account
{
    width:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-direction:row;
    font-size:20px;
    cursor: pointer;
    background-color: #F9FAFB;
    border: 1px solid #d2d2d4;
    padding:5px;
    border-radius:0.875rem;
    transition:all 0.2s;
}

.exit-account:hover
{
    background-color: #ededee;
}

.exit-account img
{
    opacity:1;
    background:transparent;
    width:40px;
    height:40px;
}

.loading_gif
{
    width:100px;
    height:100px;
    background:transparent;
    opacity:1;
}

.loading_gif_container
{
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-direction:row;
}